@charset "UTF-8";

.morse__Btn{
    height: 40px;
    margin-top: 10px;
    background-color: green;
}
.morse__Btn:active{
    transition:0.5s ease-in;
}
.clear__btn{
    height: 100px;
    width: 200px;
}