@charset "UTF-8";

*{
    padding-top: .001em; /*because firefox*/
}
html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
}

.morse__page{
    width: 100%;
    text-align: center;
    align-content: center;
}

p{
    font-size: 3em;
position: relative;
margin-left: 10px;
transform: translateY(-50%); 
}

.morse__input{
    width: 50%;
    height: 90px;
    text-align: left;
    margin: 0 auto;
    background-color: green;
}